<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描注解-->
    <context:component-scan base-package="com.spring"></context:component-scan>

    <!--开启AOP注解支持-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <!--直接写框架内的全路径即可-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="druidDataSource"></property>
    </bean>

    <!--加载数据源属性文件-->
    <context:property-placeholder location="classpath:db.properties"/>

    <!--数据源2：德鲁伊数据源-->
    <bean id="druidDataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>

    <!--DatasourceTransactionManager-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--指定需要事务管理的数据源-->
        <property name="dataSource" ref="druidDataSource"></property>
    </bean>

    <!--DefaultTransactionDefinition : 适用于增删改操作-->
    <bean id="definition1"  class="org.springframework.transaction.support.DefaultTransactionDefinition">
        <!--传播行为-->
        <property name="propagationBehaviorName" value="PROPAGATION_REQUIRED"></property>
        <!--隔离级别-->
        <property name="isolationLevelName" value="ISOLATION_REPEATABLE_READ"></property>
        <!--超时-->
        <property name="timeout" value="30"></property>
        <!--只读性readOnly=true适用于查询 , readOnly=false适用于增删改-->
        <property name="readOnly" value="false"></property>
    </bean>

    <!--DefaultTransactionDefinition : 适用于查询操作-->
    <bean id="definition2" class="org.springframework.transaction.support.DefaultTransactionDefinition">
        <!--传播行为-->
        <property name="propagationBehaviorName" value="PROPAGATION_REQUIRED"></property>
        <!--隔离级别-->
        <property name="isolationLevelName" value="ISOLATION_REPEATABLE_READ"></property>
        <!--超时-->
        <property name="timeout" value="30"></property>
        <!--只读性readOnly=true适用于查询 , readOnly=false适用于增删改-->
        <property name="readOnly" value="true"></property>
    </bean>



</beans>