<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration根节点-->
<configuration>


    <!--配置属性-->
    <properties>
        <property name="jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="jdbc.url" value="jdbc:mysql://47.120.67.11:23306/ssm"/>
        <property name="jdbc.username" value="root"/>
        <property name="jdbc.password" value="Hggl@2023#"/>
    </properties>

    <settings>
        <!-- -驼峰自动映射-->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <!--为com.mybatis包下的所有类设置别名，默认就是自动驼峰的类名-->
        <package name="com.mybatis"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--加载刚刚创建的映射文件-->
    <mappers>
        <!--将包内的mapper接口全部注册为映射器，目录结构和文件名必须与接口一致-->
        <package name="com.mybatis.mapper"/>
    </mappers>

</configuration>